{% extends "layout.html" %}
{% block title %}Agregar Parque{% endblock %}

{% block content %}
<h2>Agregar Parque</h2>

<form method="POST" class="formulario">

  <label>Nombre:</label>
  <input name="nombre" required>

  <label>Localidad:</label>
  <input name="localidad" required>

  <label>Dirección:</label>
  <input name="direccion" required>

  <label>Tamaño (m²):</label>
  <input name="tamano" type="number" required>

  <label>Tipo:</label>
  <input name="tipo" required>

  <label>Estado:</label>
  <input name="estado" required>

  <label>Canchas:</label>
  <input name="canchas" required>

  <label>Juegos:</label>
  <input name="juegos" required>

  <label>Último mantenimiento:</label>
  <input name="mantenimiento" type="date" required>

  <button class="btn">Guardar</button>
</form>

{% endblock %}
