{% extends "layout.html" %}
{% block title %}Lista de Parques{% endblock %}

{% block content %}

<h2 class="titulo-lista">Lista de Parques</h2>

<table class="tabla-parques">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Localidad</th>
      <th>Dirección</th>
      <th>Área (m²)</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% for parque in parques %}
    <tr>
      <td>{{ parque.id }}</td>
      <td>{{ parque.nombre }}</td>
      <td>{{ parque.localidad }}</td>
      <td>{{ parque.direccion }}</td>
      <td>{{ parque.area_m2 }}</td>
      <td>{{ parque.descripcion }}</td>
      <td>
        <a class="btn-table" href="/editar/{{ parque.id }}">Editar</a>
        <a class="btn-table danger" href="/eliminar/{{ parque.id }}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
