{% extends "layout.html" %}
{% block title %}Lista de Parques{% endblock %}

{% block content %}

<!-- CONTENEDOR PRINCIPAL -->
<div class="lista-container">

    <h2 class="titulo-lista">Lista de Parques</h2>

    <!-- CONTENEDOR DE TARJETAS -->
    <div class="cards-container">

        {% for parque in parques %}
        <div class="park-card-item">

            <div class="card-info">
                <h3>{{ parque.nombre }}</h3>

                <p><strong>Localidad:</strong> {{ parque.localidad }}</p>
                <p><strong>Dirección:</strong> {{ parque.direccion }}</p>
                <p><strong>Área:</strong> {{ parque.area_m2 }} m²</p>

                <p class="descripcion">{{ parque.descripcion }}</p>
            </div>

            <div class="card-actions">
                <a class="btn-card edit" href="/editar/{{ parque.id }}">Editar</a>
                <a class="btn-card delete" href="/eliminar/{{ parque.id }}">Eliminar</a>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
